/* SASS for Learning-Sass page */

//Testing some Sass 

body {
	background-color: rgb(255, 226, 202);
}

// Testing Nesting

// Variables
$padding: 20px;
$paragcolor: rgb(20, 78, 78);


main {

	

	h1 {
		text-align: center;
		color: white;
	}

	li {

		text-align: center;
		background-color: $paragcolor;
		padding: $padding;
		@extend h1 ;

		}
		font: {
			family: arial;
			weight:bold;
		}

	}















